html,
body {
  height: 100%;
  margin: 0;
}

.table {
  display: table;
  width: 100%;
  height: 100%;
  border-collapse: collapse;
}

.row {
  display: table-row;
}

.cell {
  display: table-cell;
  border: 1px solid black;
  width: 50%;
  vertical-align: middle;
  padding: 1rem;
}